<?xml version="1.0" encoding="ANSI" standalone="yes" ?>
<AR600ControllerConf>
    <MotorSettings>
        <Motor>
            <Number>1</Number>
            <NumberBuffer>1</NumberBuffer>
            <Name>Стопа Y (R)</Name>
            <MinPos>-1200</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-35</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>2</Number>
            <NumberBuffer>2</NumberBuffer>
            <Name>Стопа X (R)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-5141</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>3</Number>
            <NumberBuffer>3</NumberBuffer>
            <Name>Колено (R)</Name>
            <MinPos>-9000</MinPos>
            <MaxPos>700</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-7804</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>4</Number>
            <NumberBuffer>4</NumberBuffer>
            <Name>Бедро X (R)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>4851</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>5</Number>
            <NumberBuffer>5</NumberBuffer>
            <Name>Бедро Y (R)</Name>
            <MinPos>-1400</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>193</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>6</Number>
            <NumberBuffer>6</NumberBuffer>
            <Name>Бедро вращение (R)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>1000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>8208</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>7</Number>
            <NumberBuffer>7</NumberBuffer>
            <Name>Стопа Y (L)</Name>
            <MinPos>-1200</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>6503</Calibration>
            <Enable>false</Enable>
        </Motor>
        <Motor>
            <Number>8</Number>
            <NumberBuffer>8</NumberBuffer>
            <Name>Стопа X (L)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-694</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>9</Number>
            <NumberBuffer>9</NumberBuffer>
            <Name>Колено (L)</Name>
            <MinPos>-9000</MinPos>
            <MaxPos>700</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-4965</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>10</Number>
            <NumberBuffer>10</NumberBuffer>
            <Name>Бедро X (L)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-4429</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>11</Number>
            <NumberBuffer>11</NumberBuffer>
            <Name>Бедро Y (L)</Name>
            <MinPos>-1400</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>4218</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>12</Number>
            <NumberBuffer>12</NumberBuffer>
            <Name>Бедро вращение (L)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>1000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>7664</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>19</Number>
            <NumberBuffer>26</NumberBuffer>
            <Name>Рука Y (R)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>17376</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>20</Number>
            <NumberBuffer>27</NumberBuffer>
            <Name>Рука X (R)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>11443</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>35</Number>
            <NumberBuffer>36</NumberBuffer>
            <Name>Рука Y (L)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-11759</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>36</Number>
            <NumberBuffer>37</NumberBuffer>
            <Name>Рука X (L)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>-12199</Calibration>
            <Enable>true</Enable>
        </Motor>
        <Motor>
            <Number>43</Number>
            <NumberBuffer>18</NumberBuffer>
            <Name>Голова вращение</Name>
            <MinPos>-3500</MinPos>
            <MaxPos>3500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>1000</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Calibration>487</Calibration>
            <Enable>false</Enable>
        </Motor>
        <Motor>
            <Number>44</Number>
            <NumberBuffer>20</NumberBuffer>
            <Name>Голова наклон</Name>
            <MinPos>-1500</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>400</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Calibration>9097</Calibration>
            <Enable>false</Enable>
        </Motor>
        <Motor>
            <Number>45</Number>
            <NumberBuffer>21</NumberBuffer>
            <Name>Голова качание</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>1000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>400</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Calibration>2988</Calibration>
            <Enable>false</Enable>
        </Motor>
        <Motor>
            <Number>46</Number>
            <NumberBuffer>22</NumberBuffer>
            <Name>Шея</Name>
            <MinPos>-500</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>500</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Calibration>8437</Calibration>
            <Enable>false</Enable>
        </Motor>
        <Motor>
            <Number>49</Number>
            <NumberBuffer>23</NumberBuffer>
            <Name>Торс</Name>
            <MinPos>-1500</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>500</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Calibration>-15864</Calibration>
            <Enable>false</Enable>
        </Motor>
    </MotorSettings>
	<SensorSettings>
	<Sensor>
	  <Number>1</Number>
	  <NumberBuffer>14</NumberBuffer>
	  <Name>Акселерометр X</Name>
	  <NameLog>Accelerometr_X</NameLog>
	  <Param>1</Param>
	</Sensor>
	<Sensor>
	  <Number>2</Number>
	  <NumberBuffer>14</NumberBuffer>
	  <Name>Акселерометр Y</Name>
	  <NameLog>Accelerometr_Y</NameLog>
	  <Param>2</Param>
	</Sensor>
	<Sensor>
	  <Number>3</Number>
	  <NumberBuffer>14</NumberBuffer>
	  <Name>Акселерометр Z</Name>
	  <NameLog>Accelerometr_Z</NameLog>
	  <Param>3</Param>
	</Sensor>
	<Sensor>
	  <Number>4</Number>
	  <NumberBuffer>14</NumberBuffer>
	  <Name>Гироскоп X</Name>
	  <NameLog>Gyroscope_X</NameLog>
	  <Param>4</Param>
	</Sensor>
	<Sensor>
	  <Number>5</Number>
	  <NumberBuffer>14</NumberBuffer>
	  <Name>Гироскоп Y</Name>
	  <NameLog>Gyroscope_Y</NameLog>
	  <Param>5</Param>
	</Sensor>
	<Sensor>
	  <Number>6</Number>
	  <NumberBuffer>14</NumberBuffer>
	  <Name>Гироскоп Z</Name>
	  <NameLog>Gyroscope_Z</NameLog>
	  <Param>6</Param>
	</Sensor>
	<Sensor>
	  <Number>7</Number>
	  <NumberBuffer>15</NumberBuffer>
	  <Name>Давление на левой ноге 0</Name>
	  <NameLog>Pressure_on_the_left_leg_0</NameLog>
	  <Param>1</Param>
	</Sensor>
	<Sensor>
	  <Number>8</Number>
	  <NumberBuffer>15</NumberBuffer>
	  <Name>Давление на левой ноге 1</Name>
	  <NameLog>Pressure_on_the_left_leg_1</NameLog>
	  <Param>2</Param>
	</Sensor>
	<Sensor>
	  <Number>9</Number>
	  <NumberBuffer>15</NumberBuffer>
	  <Name>Давление на левой ноге 2</Name>
	  <NameLog>Pressure_on_the_left_leg_2</NameLog>
	  <Param>3</Param>
	</Sensor>
	<Sensor>
	  <Number>10</Number>
	  <NumberBuffer>15</NumberBuffer>
	  <Name>Давление на левой ноге 3</Name>
	  <NameLog>Pressure_on_the_left_leg_3</NameLog>
	  <Param>4</Param>
	</Sensor>
	<Sensor>
	  <Number>11</Number>
	  <NumberBuffer>16</NumberBuffer>
	  <Name>Давление на правой ноге 0</Name>
	  <NameLog>Pressure_on_the_right_leg_0</NameLog>
	  <Param>1</Param>
	</Sensor>
	<Sensor>
	  <Number>12</Number>
	  <NumberBuffer>16</NumberBuffer>
	  <Name>Давление на правой ноге 1</Name>
	  <NameLog>Pressure_on_the_right_leg_1</NameLog>
	  <Param>2</Param>
	</Sensor>
	<Sensor>
	  <Number>13</Number>
	  <NumberBuffer>16</NumberBuffer>
	  <Name>Давление на правой ноге 2</Name>
	  <NameLog>Pressure_on_the_right_leg_2</NameLog>
	  <Param>3</Param>
	</Sensor>
	<Sensor>
	  <Number>14</Number>
	  <NumberBuffer>16</NumberBuffer>
	  <Name>Давление на правой ноге 3</Name>
	  <NameLog>Pressure_on_the_right_leg_3</NameLog>
	  <Param>4</Param>
	</Sensor>
  </SensorSettings>
    <ConnectSettings>
        <Host>192.169.1.10</Host>
        <SendPort>10001</SendPort>
        <ReceivePort>10001</ReceivePort>
        <SendDelay>5</SendDelay>
        <ReceiveDelay>5</ReceiveDelay>
    </ConnectSettings>
    <CommandControllerSettings>
        <DefaultStiff>300</DefaultStiff>
        <DefaultDump>1</DefaultDump>
        <DefaultTorque>1</DefaultTorque>
		<DefaultSpeed>20</DefaultSpeed>
    </CommandControllerSettings>
</AR600ControllerConf>
