<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<AR600ControllerConf>
    <DriverSettings>
        <Driver>
            <Number>1</Number>
            <NumberBuffer>1</NumberBuffer>
            <Name>Foot Y (R)</Name>
            <MinPos>-1200</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>-35</Ilim>
        </Driver>
        <Driver>
            <Number>2</Number>
            <NumberBuffer>2</NumberBuffer>
            <Name>Foot X (R)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>527</Ilim>
        </Driver>
        <Driver>
            <Number>3</Number>
            <NumberBuffer>3</NumberBuffer>
            <Name>Knee(R)</Name>
            <MinPos>-9000</MinPos>
            <MaxPos>700</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>-7804</Ilim>
        </Driver>
        <Driver>
            <Number>4</Number>
            <NumberBuffer>4</NumberBuffer>
            <Name>Hip X (R)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>4851</Ilim>
        </Driver>
        <Driver>
            <Number>5</Number>
            <NumberBuffer>5</NumberBuffer>
            <Name>Hip Y (R)</Name>
            <MinPos>-1400</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>193</Ilim>
        </Driver>
        <Driver>
            <Number>6</Number>
            <NumberBuffer>6</NumberBuffer>
            <Name>Hip rotation (R)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>1000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>8208</Ilim>
        </Driver>
        <Driver>
            <Number>7</Number>
            <NumberBuffer>7</NumberBuffer>
            <Name>Foot Y (L)</Name>
            <MinPos>-1200</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>6503</Ilim>
        </Driver>
        <Driver>
            <Number>8</Number>
            <NumberBuffer>8</NumberBuffer>
            <Name>Foot X (L)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>-694</Ilim>
        </Driver>
        <Driver>
            <Number>9</Number>
            <NumberBuffer>9</NumberBuffer>
            <Name>Knee(L)</Name>
            <MinPos>-9000</MinPos>
            <MaxPos>700</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>-4965</Ilim>
        </Driver>
        <Driver>
            <Number>10</Number>
            <NumberBuffer>10</NumberBuffer>
            <Name>Hip X (L)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>4000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>-4429</Ilim>
        </Driver>
        <Driver>
            <Number>11</Number>
            <NumberBuffer>11</NumberBuffer>
            <Name>Hip Y (L)</Name>
            <MinPos>-1400</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>4218</Ilim>
        </Driver>
        <Driver>
            <Number>12</Number>
            <NumberBuffer>12</NumberBuffer>
            <Name>Hip rotation (L)</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>1000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>900</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>7664</Ilim>
        </Driver>
        <Driver>
            <Number>19</Number>
            <NumberBuffer>26</NumberBuffer>
            <Name>Hand Y (R)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9000</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>16980</Ilim>
        </Driver>
        <Driver>
            <Number>20</Number>
            <NumberBuffer>27</NumberBuffer>
            <Name>Hand X (R)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>11443</Ilim>
        </Driver>
        <Driver>
            <Number>35</Number>
            <NumberBuffer>36</NumberBuffer>
            <Name>Hand Y (L)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>600</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Ilim>-11759</Ilim>
        </Driver>
        <Driver>
            <Number>36</Number>
            <NumberBuffer>37</NumberBuffer>
            <Name>Hand X (L)</Name>
            <MinPos>-500</MinPos>
            <MaxPos>9500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>600</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>-12199</Ilim>
        </Driver>
        <Driver>
            <Number>43</Number>
            <NumberBuffer>18</NumberBuffer>
            <Name>Head rotation</Name>
            <MinPos>-3500</MinPos>
            <MaxPos>3500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>1000</Stiff>
            <Dump>2</Dump>
            <Torque>1</Torque>
            <Ilim>487</Ilim>
        </Driver>
        <Driver>
            <Number>44</Number>
            <NumberBuffer>20</NumberBuffer>
            <Name>Head tilt</Name>
            <MinPos>-1500</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>true</Reverce>
            <Stiff>400</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Ilim>10731</Ilim>
        </Driver>
        <Driver>
            <Number>45</Number>
            <NumberBuffer>21</NumberBuffer>
            <Name>Head swing</Name>
            <MinPos>-1000</MinPos>
            <MaxPos>1000</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>400</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Ilim>2988</Ilim>
        </Driver>
        <Driver>
            <Number>46</Number>
            <NumberBuffer>22</NumberBuffer>
            <Name>Neck</Name>
            <MinPos>-500</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>500</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Ilim>8437</Ilim>
        </Driver>
        <Driver>
            <Number>49</Number>
            <NumberBuffer>23</NumberBuffer>
            <Name>Torso</Name>
            <MinPos>-1500</MinPos>
            <MaxPos>1500</MaxPos>
            <Reverce>false</Reverce>
            <Stiff>500</Stiff>
            <Dump>1</Dump>
            <Torque>1</Torque>
            <Ilim>-15433</Ilim>
        </Driver>
    </DriverSettings>
    <ConnectSettings>
        <Host>192.169.1.10</Host>
        <Port>10001</Port>
    </ConnectSettings>
</AR600ControllerConf>
